$LIGHT_BG_COLOR: #cce3de;
$DARK_BG_COLOR: darken(#6B9080, 20%);
$DARK_FONT_COLOR: #292529;
$LIGHT_FONT_COLOR: #FFF;

:export {
  LIGHT_BG_COLOR: $LIGHT_BG_COLOR;
  DARK_BG_COLOR: $DARK_BG_COLOR;
  DARK_FONT_COLOR: $DARK_FONT_COLOR;
  LIGHT_FONT_COLOR: $LIGHT_FONT_COLOR;
}