/* Define color variables */


:root {
  --scrollbar-track-color: #f1f1f1;
  --scrollbar-thumb-color: #888;
  --scrollbar-thumb-hover-color: #555;
}

/* For Webkit browsers */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

/* For Firefox */
@-moz-document url-prefix() {
  scrollbar {
    width: 12px;
    background-color: var(--scrollbar-track-color);
  }

  scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
  }

  scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
  }
}

/* For Internet Explorer */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  ::-ms-scrollbar {
    width: 12px;
    background-color: var(--scrollbar-track-color);
  }

  ::-ms-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
  }

  ::-ms-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
  }
}

/* For Edge */
@supports (-ms-ime-align: auto) {
  ::-ms-scrollbar {
    width: 12px;
    background-color: var(--scrollbar-track-color);
  }

  ::-ms-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
  }

  ::-ms-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
  }
}
